RewriteEngine On

# RewriteRule ^login$ page_login.php [L]

RewriteRule ^items/([a-zA-Z]+)/size/(\d+)$ pages/page-items.php?category=$1&size=$2 [NC,L]

# Generic extensionless PHP routing
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^([^\.]+)$ $1.php [L]

# ErrorDocument 404 /404.php
